<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guardian_Theater_Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Guardian_Theater_Desktop.Properties.Settings>
            <setting name="TwitchKey" serializeAs="String">
                <value>abvhdv9zyqhefmnbjz3fljxx3hpc7u</value>
            </setting>
            <setting name="TwitchSecret" serializeAs="String">
                <value>h7bled1w6wracl3bytlhqwra3d7pr8</value>
            </setting>
            <setting name="BungieKey" serializeAs="String">
                <value>9efe9b8eba3042afb081121d447fd981</value>
            </setting>
            <setting name="MenuIndicatorColor" serializeAs="String">
                <value>81, 0, 122</value>
            </setting>
            <setting name="SelectedCharacterColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="HeaderFooterColor" serializeAs="String">
                <value>81, 0, 122</value>
            </setting>
            <setting name="MyAccountMainID" serializeAs="String">
                <value />
            </setting>
            <setting name="MyAccountMainType" serializeAs="String">
                <value />
            </setting>
        </Guardian_Theater_Desktop.Properties.Settings>
    </userSettings>
</configuration>